.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.team h1 {
    font-size: 2rem;
    font-family: "Chakra Petch", sans-serif;
    color: #fff;
    text-align: center;
    margin: 1rem;
}

.team-members {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}

.team .team-member {
    width: 50%;
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    padding-left: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(40deg, rgba(34, 67, 195, 0.15) 0%, rgba(170, 48, 223, 0.15) 100%);
    position: relative;
    animation: fadeInUp 0.5s ease-in-out both;
}

.team .team-member:nth-child(odd) {
    align-self: flex-start;
    margin-left: 0;
    margin-right: auto;
    animation-name: fadeInLeft;
}

.team .team-member:nth-child(even) {
    align-self: flex-end;
    margin-left: auto;
    margin-right: 0;
    animation-name: fadeInRight;
}

.team .team-member .team-member-image {
    height: 100%;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.team .team-member .team-member-image img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin: 1rem;
    border: 1px solid #ccc;
    min-width: 150px;
}

.team .team-member .team-member-details {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    color: white;
}

.team .team-member .team-member-details h2 {
    font-size: 1.5rem;
    font-family: "Chakra Petch", sans-serif;
    color: #fff;
}

.team .team-member .team-member-details p {
    font-size: 1rem;
    font-family: "Chakra Petch", sans-serif;
    color: #fff;
}

.team .team-member .team-member-details span {
    display: flex;
}


.team .team-member .team-member-details a {
    font-size: 1rem;
    font-family: "Chakra Petch", sans-serif;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 1450px) {
    .team .team-member {
        width: 60%;
    }

    .team .team-member .team-member-image {
        max-width: 35%;
    }

    .team .team-member .team-member-details {
        width: 65%;
    }
}

@media (max-width: 1050px) {
    .team .team-member {
        width: 70%;
    }

    .team .team-member .team-member-image {
        max-width: 35%;
    }

    .team .team-member .team-member-details {
        width: 75%;
    }
}

@media (max-width: 900px) {
    .team .team-member {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .team .team-member .team-member-image {
        max-width: 70%;
    }

    .team .team-member .team-member-details {
        width: 100%;
        text-align: center;
    }

    .team .team-member .team-member-details a {
        font-size: 1.5rem; /* Increase font size */
        margin: 10px; /* Add margin for spacing */
    }
}