.whitespace-pre-wrap *{
    font-size: 1rem;
    font-weight: 400;
}

.whitespace-pre-wrap h1{
    font-size: 1.5rem;
    font-weight: 900;
}

.whitespace-pre-wrap h2{
    font-size: 1.25rem;
    font-weight: 700;
}

.whitespace-pre-wrap h3{
    font-size: 1rem;
    font-weight: 700;
}

.whitespace-pre-wrap h4{
    font-size: 0.875rem;
    font-weight: 700;
}

.whitespace-pre-wrap h5{
    font-size: 0.75rem;
    font-weight: 700;
}  

.whitespace-pre-wrap h6{
    font-size: 0.625rem;
    font-weight: 700;
}

.whitespace-pre-wrap p{
    font-size: 1rem;
    font-weight: 400;
}

.whitespace-pre-wrap a{
    font-size: 1rem;
    font-weight: 400;
}

.whitespace-pre-wrap ul{
    font-size: 1rem;
    font-weight: 400;
    list-style: disc;
    padding: 0 0 0 1.5rem;
}

.whitespace-pre-wrap ol{
    font-size: 1rem;
    font-weight: 400;
    list-style: decimal;
    padding: 0 0 0 1.5rem;
}

.whitespace-pre-wrap li{
    font-size: 1rem;
    font-weight: 400;
}

.whitespace-pre-wrap blockquote{
    font-size: 1rem;
    font-weight: 400;
}

.whitespace-pre-wrap code{
    font-size: 1rem;
    font-weight: 400;
    background-color: rgba(100, 100, 100, 0.5);
    padding: 0.125rem 0.25rem;
    border-radius: 0.25rem;

}

